@page "/overview"

@inject IHttpClientFactory _clientFactory

<h3>Overview Data</h3>
@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h3">@errorString</div>
}
else if (overview is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <table class="accordion">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
}

@code
{
    OverviewDataModel overview;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        var client = _clientFactory.CreateClient();
        try
        {
            overview = await client.GetFromJsonAsync<OverviewDataModel>("https://www.alphavantage.co/query?function=OVERVIEW&symbol=IBM&apikey=demo");
            errorString = null;
        }
        catch (Exception e)
        {
            errorString = $"Unable to get company data: {e.Message}";
        }
    }
}